.profile {
    display: grid;
    grid-template-columns: 30% 70%;
}

.profile__img {
    margin: 20px 0px 0px 20px;
    width: 100%;
    border-radius: 99%;
    border: 5px white solid;
}

.profile-info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    align-items: center;
    padding-left: 100px;
}

.profile-info__img {
    width: 60%;
}

.profile-info div{
    align-items: center;
    color: wheat;
}

.private-info{
    display: grid;
    grid-template-columns: 30% 70%;
}

.private-info .profile-info__item{
    align-items: center;
}