
.user-card{
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 10px 20px 10px 20px;
    border-bottom: 2px white solid;
    padding: 5px;
}

.user-icon {
   margin: 0 auto;
   text-align: center;
   margin-left: 10px;
   margin-bottom: 10px;
}

.user-icon img{
    width: 75px;
    height:75px;
    border-radius: 99%;
}

.user-info{
    display: grid;
    grid-template-columns: 50% 50%;
    color: antiquewhite;
}

.user-name{
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
}

.user-location{
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 20px;
    text-align: end;
}

span{
padding-left: 10px;
}

.current-page{
    font-size: large;
    color: aqua;
    font-weight: bold;
}

.q:disabled{
    opacity: 0.5;
}